.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;


    color: var(--text-color2);
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 1400px;

}

.nav p a {

    font-size: 1.8rem;
    color: var(--text-color2);
    margin: 0;
}


.nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 6rem;
}

.nav a {
    text-decoration: none;
    color: var(--text-color2);
    font-family: "Crimson Text", serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--accent-color);
}

.active a {
    color: var(--accent-color) !important;
}

.hamburgerContainer {
    display: none;
}

@media (max-width: 767px) {
    .nav {

        display: none;
    }

    .hamburgerContainer {
        display: flex;
        flex-direction: column;
        width: 90%;
        max-width: 600px;
        padding: 1rem;
        padding-top: 0;
    }

    .hamHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }



    .hamHeader i {
        font-size: 2.5rem;



    }

    .hamTitle p {
        font-size: 2rem;
    }





    .hamMenu {
        display: none;
    }

    .hamMenuActive {
        display: grid;
        grid-template-columns: minmax(100%, 1fr);
        grid-template-rows: 2rem 1fr 1fr 1fr;
        padding: 2rem;
        gap: 4rem;
        background-color: var(--bg-color);
        /* Match global background */
        width: 90%;
        max-width: 600px;
        height: 100vh;
        margin: 0 auto;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 10000;
    }


    .hamMenuActive .close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        cursor: pointer;



    }


    .hamMenuActive .close i {
        font-size: 4rem;
        color: var(--text-color2);
        cursor: pointer;
    }


    .hamMenuActive ul {
        list-style: none;
        padding-left: 1rem;
        padding-right: 4rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;

    }


    .hamMenuActive ul li {
        color: var(--text-color2);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.2rem;

    }

    .hamMenuActive ul li a {
        text-decoration: none;
        font-size: 2rem;
        color: var(--text-color2);
    }

    .hamMenuActive ul li i {
        font-size: 2rem;
        color: var(--accent-color);
    }

    .hamMenuActive .media {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        gap: 1rem;
    }

    .hamMenuActive .media h1 {
        color: var(--text-color2);
        font-weight: 200;
        margin: 0;
        font-size: 3rem;
    }

    .hamMenuActive .media .socials {
        display: flex;
        gap: 0.2rem;
        justify-items: center;

    }

    .hamMenuActive .media .socials i {
        font-size: 1.7rem;
        color: var(--accent-color);
    }

    .hamMenuActive .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hamMenuActive .copyright p {
        color: var(--text-color2);
        font-weight: 200;
        margin: 0;
        font-size: 1rem;
    }

}


@media (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
    .nav {

        width: 90%;
    }

    .nav p {
        font-size: 1.4rem;
    }

    .nav a {
        font-size: 0.8rem;
    }

    .nav ul {

        padding-right: 0;

    }
}






@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
    .nav {

        width: 90%;
    }

    .nav p {
        font-size: 1.4rem;
    }

    .nav a {
        font-size: 0.8rem;
    }

    .nav ul {

        padding-right: 0;

    }
}


/* iPad Pro PORTRAIT only */
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    .nav {
        width: 90%;
    }

    .nav ul {

        padding-right: 0;

    }

}


/* iPad Pro LANDSCAPE only */
@media only screen and (device-width: 1366px) and (device-height: 1024px) and (orientation: landscape) {

    .nav {
        width: 95%;
    }

    .nav ul {

        padding-right: 5rem;

    }
}