@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@4.7.0/fonts/remixicon.css');

:root {
  --bg-color: #FBF7F4;
  --bg-color2: #E5DED2;
  --bg-color3: #D8CFC4;
  --bg-color3: #DCCFB8;
  --text-color-white: #FBF7F4;
  --text-color2: #232323;
  --accent-color: #A39382;
  --accent-color2: #685D54;
  font-size: 90%;
  font-family: "Crimson Text", serif;
  font-style: normal;
  overflow: hidden;


}


body {
  margin: 0 auto;

}

h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}



.app {
  background-color: var(--bg-color);
  color: var(--text-color2);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 6rem 1fr 1fr;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  gap: 0;

  margin: 0 auto;
}


button {

  transition: all 0.3s ease;

}

button:hover {
  background-color: var(--accent-color2);
  color: var(--text-color-white);
  border-color: var(--accent-color2);
  cursor: pointer;
}

.header {
  width: 100%;
  z-index: 1000;
  grid-column: 1 / -1;
}

.main {
  grid-column: 1 / -1;
}

.footer {
  width: 100%;
  grid-column: 1 / -1;
}

.app .activeSection {
  display: block;
}

.app .notActiveSection {
  display: none;
}



@media (max-width: 767px) {

  :root {
    font-size: 80%;
  }

  .app {
    grid-template-columns: minmax(100%, 1fr);
    max-width: 100%;
    justify-items: center;


  }

}