.productContainer {
    width: 100%;

    position: relative;
    z-index: 10;
    background-color: var(--bg-color3);
    color: var(--text-color2);


}


.section1 {

    display: grid;
    grid-template-columns: 1fr 1.3fr;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 1600px;

}

.productContent1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.productImage img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0;
    padding: 1.5rem;
}

.productContent2 {
    padding: 2rem 5%;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productText {
    display: flex;
    flex-direction: column;
}

.productText>p:first-child {
    font-size: 0.9rem;
    width: fit-content;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    opacity: 0.9;
    background: var(--text-color-white);
    padding: 0.8rem 0.6rem;
    display: inline-block;
}

.section1 .title h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.1;
}

.productText>p:last-of-type {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.8;
    letter-spacing: 1px;
    max-width: 600px;
    opacity: 0.85;
}

.productEmailField input,
.productEmailField button {
    box-sizing: border-box;
    width: 100%;
}


.productEmailField {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;


    width: 90%;
}

.productEmailField .valid {

    visibility: hidden;

    margin: 0;
    padding: 0;



}


.productEmailField .invalid {
    visibility: visible;




    font-size: 0.8rem;
    color: red;

    margin: 0;
    padding: 0;

}

.productEmailField input {
    padding: 1rem;
    background: var(--bg-color);
    border: none;
    border-radius: 0;
    font-family: inherit;
    color: var(--text-color2);
}

.productEmailField input:focus {
    outline: 1px solid var(--accent-color2);
}

.productEmailField button {
    background-color: var(--accent-color2);
    color: var(--text-color-white);
    border: none;
    padding: 1rem;
    width: 100%;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: 0.1em;
    border-radius: 0;
    transition: background 0.2s ease;
}

.productEmailField button:disabled {
    background-color: #554c45;
    color: #222222;
    cursor: not-allowed;
    opacity: 0.8;
}

.productEmailField button:hover {
    background-color: #554c45;
    cursor: pointer;
}

.priceContainer {
    margin-top: 1rem;
    line-height: 40px;
}

.priceContainer h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #222222;
    margin-bottom: 0;
}

.priceContainer p:first-of-type {
    font-size: 3rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: #222222;
}

.priceContainer p:last-of-type {
    font-size: 1.5rem;
    margin-top: 0;

    color: #4d4d4d;
}


.section2 {
    padding: 2rem 5%;
    background-color: #FFF7E9;
}

.section2 .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.section2 .title h1 {
    font-size: 6rem;
    margin-bottom: 0.5rem;
}

.section2 .title p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    width: 40%;

}

.videoContainer {
    width: 100%;
    max-width: 1000px;
    aspect-ratio: 16 / 9;
    margin: 0 auto 5rem auto;
    background-color: var(--bg-color2);
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.videoContainer iframe {
    width: 100%;
    height: 100%;
}

.bookGridItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    max-width: 1600px;
    gap: 2.5rem;
}

.bookGridItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border-radius: 0;
    transition: transform 0.25s ease;
}


.bookGridItem img {
    width: 60px;
    height: 60px;
    margin-bottom: 1.5rem;
}

.bookGridItem h1 {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Crimson Text", serif;
    margin: 0 0 0.5rem 0;
}

.bookGridItem p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-color2);
    margin: 0;
    letter-spacing: 0.4px;
    opacity: 0.9;
}


@media (max-width: 768px) {

    .section1 {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        text-align: center;
        align-items: flex-start;
    }

    .productContent1,
    .productContent2 {
        display: contents;

    }

    .bookGridItems {
        display: grid;
        grid-template-columns: minmax(100%, 1fr);
    }

    .productText {
        align-items: center;
    }

    .section1 .title h1 {
        font-size: 4rem;
    }



    .section2 .title h1 {
        font-size: 5rem;
    }

    .section2 .title p {
        font-size: 1.5rem;
        width: 70%;
    }


    .productText {
        order: 1;
        padding: 0 5%;
    }

    .productContent1 .productImage {
        order: 2;
        display: flex;
        justify-content: center;
        padding: 0 5%;
    }

    .productEmailField {
        order: 3;
        padding: 0 5%;
        margin-top: 1rem;
    }

    .productEmailField .invalid {
        text-align: left;
    }



    .priceContainer {
        order: 4;
        padding: 0 5%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 90%;

    }

    .priceContainer h1,
    .priceContainer p {
        margin-left: 0;
        text-align: left;
    }

    .priceContainer p:last-of-type {
        font-size: 1rem;
        text-align: center;
        align-self: center;

    }

    .bookGridItem p {
        font-size: 1.2rem;
    }
}