.aboutContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
    padding-bottom: 4rem;
    padding-top: 0;
    margin: 0 auto;
    height: 100%;
    width: 95%;
    max-width: 1400px;


    align-items: start;
}

.aboutContent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.title h1 {
    font-size: 4rem;
    color: var(--text-color2);
    white-space: nowrap;
    margin: 0;
}

.title hr {
    width: 100%;
    border: 0;
    margin-top: 2rem;
    border-top: 1px solid black;

    opacity: 0.6;
}

.aboutText p {
    font-size: 1.2rem;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 2.5rem;
    color: var(--text-color2);
}

.aboutText span {

    color: var(--accent-color);
}

.aboutButtons {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 4rem;
}

.aboutButtons button:first-child {
    border: 3px solid var(--accent-color2);
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: transparent;
    color: var(--text-color2);
    font-family: "Crimson Text", serif;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.aboutButtons button:hover {
    background-color: var(--accent-color2);
    color: var(--text-color-white);
}

.aboutButtons button:last-child {


    background-color: var(--accent-color2);
    border: none;

    color: var(--text-color-white);
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    transition: all 0.3s ease;
}

/* Stats Grid */
.aboutGridItems .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item .header {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.item .header .text {
    display: flex;
    flex-direction: column;
}

.item i {
    font-size: 2rem;
    color: var(--accent-color2);
}

.item h1 {


    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;

    letter-spacing: 0.05em;
}

.item p {
    font-size: 1.1rem;
    color: var(--text-color2);
    line-height: 1.4;
    opacity: 0.9;
}

/* Right Side Image */
.aboutContent2 {
    width: 100%;
    height: 100%;

}

.aboutImage {
    width: 100%;
    height: 100%;
    position: relative;
}

.aboutImage img {
    width: 60rem;
    height: 70rem;
    object-fit: cover;
    border-radius: 2px;
    position: absolute;
    top: -40%;
}

@media (max-width: 767px) {
    .aboutContainer {
        grid-template-columns: minmax(100%, 1fr);
        grid-template-rows: auto;
        width: 90%;
        padding: 0;
        padding-top: 4rem;

    }

    .aboutContent1 {
        align-items: center;
        text-align: center;

    }



    .title h1 {
        text-align: center;
        width: 100%;
    }

    .title hr {
        display: none;
    }

    .aboutGridItems .header {
        flex-direction: column;
        align-items: center;
    }

    .aboutImage {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 70rem;
    }

    .aboutImage img {
        position: static;

        height: auto;
        width: 200%;


    }

}


@media (min-width: 768px) and (max-width: 1280px) and (orientation: portrait) {
    .aboutContainer {
        padding-top: 2rem;
        padding: 0;
        gap: 0;
        width: 90%;
    }

    .aboutImage img {
        width: 60rem;
        height: 70rem;
        top: -10%;
        right: -80%;

    }


}



@media (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) {
    .aboutContainer {
        padding-top: 2rem;
        padding: 0;
        gap: 0;
        width: 90%;
    }

    .aboutImage img {
        width: 60rem;
        height: 70rem;
        top: -10%;
        right: -50%;


    }


}



/* iPad Pro PORTRAIT only */
@media only screen and (device-width: 1024px) and (device-height: 1366px) and (orientation: portrait) {
    .aboutImage img {

        right: -60%;

    }
}